*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Font family */

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}


.noto-serif-normal {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  
}

/* body related styles */
body{
     background-color: #f5f8ff;
}

.max-width {
    max-width: 1140px;
    margin: 0 auto;
}

/* shared styles */
.btn-primary{
    background-color: #E95A08;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 600;
    padding: 19px 80px;
    border:none;
    margin-bottom: 30px;
}

.text-primary{
    font-size: 1.375rem;
    color: #8a8b90;
}

.primary-color{
    color: #E95A08;
}

.display-flex{
    display: flex;
}

.dark-1{
    color: #252432;
}

.light-gray{
    color: #8987A1;
}

.medium{
    font-weight: 500;
}


/* nav related styles */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.logo{
    width: 135px;
    height: 82px;
}

.nav-links a{
    text-decoration: none;
    
    
}

.nav-item{
    list-style: none;
    margin-left: 48px;
}

/* banner related style */
.banner{
    padding: 120px 0;
    display: flex;
    /* justify-content: center;
    align-items: center; */
}

.banner-text{
    padding-top: 48px;
}

.highlight{
    font-size: 3.125rem;
    font-weight: bold;
    margin-bottom: 13px;
}

/* plants section related style */
.plants-text{
    text-align: center;
    margin-bottom: 49px;
}

.plant-title{
    font-size: 3.125rem;
    font-weight:bold ;
    margin-bottom: 16px;
}

.plants-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.para{
    font-size: 1.375rem;
    font-weight: 500;
    color: #66676a;
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
}

.title{
    font-size: 1.375rem;
    font-weight: bold;
    padding-bottom: 30px;
    text-align: center;
}

/* plants lover related styles */
.plants-lover{
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

.image-container{
    position: relative;
}

.image-container img:first-child{
    /* width: 100%; */
    height: auto;
    display: block;
}

.badge{
    position: absolute;
    top: -110px;
    right: -100px;
    width: 286px;
    /* box-shadow: -4px 10px 4px 0px rgba(0, 0, 0, 0.25); */
    animation: spin 3s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.content{
    padding-top: 78px;
    padding-left: 80px;
    
}

.content h1{
    font-size: 3.125rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.content ul li{
    margin-bottom: 20px;
}

/* latest related styles */
.latest h2{
    font-size: 3.125rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 130px;
}

.latest p{
    text-align: center;
    margin-bottom: 100px;
}

.deals-container{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    gap: 25px;
}

.left-column{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.deal-card{
    width: 367px;
    height: 201px;
    border-radius: 14px;
    background-size: cover;
    background-position: center;
    position: relative;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 80px;
    font-size: 1.25rem;
    font-weight: bold;
}

.deal-card .shop{
    font-size: 1rem;
    font-weight: 500;
    margin-top: 10px;
    margin-left: 70px;
    text-decoration: underline;    
}

.right-column{
     width: 748px;
    height: 423px;
    border-radius: 14px;
    background-size: cover;
    background-position: center;
    position: relative;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 270px;
    font-size: 1.25rem;
    font-weight: bold;   
}

.right-column .shop{
    font-size: 1rem;
    font-weight: 500;
    margin-top: 10px;
    margin-left: 70px;
    text-decoration: underline;
}

/* subscribe-section related styles */
.subscribe-section{
    background-image: url('news-letter-bg.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    padding: 200px 0;
    color: white;
    text-align: center;
    margin-top: 120px;
}

.subscribe-section h2{
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.subscribe-form{
    display: flex;
    justify-content: center;
    align-items: center;
}

.subscribe-form input[type=email] {
    width: 100%;
    padding: 18px 140px 18px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    box-sizing: border-box;
}

.input-with-button{
    position: relative;
    width: 100%;
    max-width: 800px;
}

.input-with-button button{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}

/* footer related styles */
footer{
    padding: 50px 160px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
} 

.footer-left{
    width: 359px;
    gap: 16px;
}

.footer-left p{
    margin-top: 16px;
}

.footer-links{
    display: flex;
    flex-direction: column;
    gap: 32px;
    
}

.footer-links a{
    text-decoration: none;
    color: #7d8390;
    font-size: 1rem;
}

.footer-links a:hover{
    text-decoration: underline;
}

.footer-column{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.footer-column a{
    text-decoration: none;
    font-size: 1rem;
    color: #7d8390;
}

.footer-column a:hover{
    text-decoration: underline;
}
 
.footer-icons{
    display: flex;
    align-items: center;
    gap: 24px;

}

/* -------Responsive media query -------- */
@media screen and (max-width: 768px) {
  /* Navbar responsive */
  .navbar {
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
  }

  .nav-links {
    display: flex;
    gap: 0;
  }

  .nav-item {
    margin-left: 0;
  }

  /* Hide Shop and About Us */
  .one,
  .two,
  .three {
    display: none;
  }

  .nav-links {
    margin-left: auto;
  }

  /* Banner section */
   .banner {
    flex-direction: column-reverse;
    padding: 60px 20px;
    text-align: center;
  }

  .banner-text {
    padding-top: 30px;
  }

  .highlight {
    font-size: 2rem;
  }

  .banner-text p {
    font-size: 1rem;
    line-height: 1.6;
  }

  .banner-image {
    width: 100%;
  }

  .banner-image img {
    width: 100%;
    height: auto;
  }

  .plants-container{
    grid-template-columns: repeat(2, 1fr);
  }
  
  .plants-lover{
    flex-direction: column;
  }

  .display-none{
    display: none;
  }


  .deals-container {
    flex-direction: column;
    /* align-items: center; */
  }

  .deal-card,
  .right-column {
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
    padding: 40px 20px;
  }

  .deal-card,
  .right-column {
    border-radius: 0;
  }

  .left-column .deal-card:first-child {
    border-radius: 14px;
  }

  .right-column {
    border-radius: 14px;
  }

  .subscribe-section{
    display: flex;
    /* justify-content: center; */
    text-align: center;
  }

  .input-with-button{
    display: flex;
    flex-direction: column;
    width:100%;
  }

  .footer{
    flex-direction: column;
  }

  .footer-left,
  .footer-links,
  .footer-column,
  .footer-icons{
    align-items: start;
  }
  .footer-column{
    margin-bottom: 24px;
  }

}





  
